
{% extends "base.html" %}


{% block style %}
<style>
    table {
        height: 400px;
        display: block;
        overflow-y: scroll;
    }
</style>
{% endblock %}

{% block main %}
<div class="container"> 
    <div class="row">
        <div class="col-8 offset-2">
            <h1>Video Events</h1>

            <video width="640" height="360"  controls preload="auto" poster="">
                <source src="" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1">
            <script>
                player = document.getElementsByTagName('video')[0];

                function play_video(esn, start_timestamp, end_timestamp, auth_key) {
                    video_string = ['http://login.eagleeyenetworks.com/asset/play/video.mp4?id=', esn, 
                                    '&start_timestamp=', start_timestamp,
                                    '&end_timestamp=', end_timestamp,
                                    '&A=', auth_key].join('');
                    player.src = video_string;
                }

            </script>

                <table class="table table-hover">
                    <thead class="thead-dark">
                        <th scope="col"></th>
                        <th scope="col">Camera</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </thead>
                    <tbody class="">
                    
                    {% for esn in template_values['esns'] %}
                        {% for item in template_values['esns'][esn] %}
                        <tr>
                            <td>
                                <button onClick="play_video('{{ esn }}', '{{ item['start_timestamp'] }}', '{{ item['end_timestamp'] }}', '{{ template_values['een'].session.cookies['auth_key'] }}')">Play</button>
                            </td>
                            <td>{{ esn }}</td>
                            <td>{{ item['start_timestamp'] }}</td>
                            <td>{{ item['end_timestamp'] }}</td>
                            <td>
                                <a href="http://login.eagleeyenetworks.com/asset/play/video.mp4?id={{ esn }}&start_timestamp={{ item['start_timestamp'] }}&end_timestamp={{ item['end_timestamp'] }}">
                                    <button>Download</button>
                                </a>
                            </td>
                            <td>
                                <a href="https://login.eagleeyenetworks.com/hist/index.html?id={{ esn }}&ts={{ item['start_timestamp'] }}" target="_blank">
                                    <button>view in history browser</button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                    
                    </tbody>
                </table>
        </div>
    </div>
</div>


{% endblock %}
